body {
	margin:0;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;
}

/* ul {
  position: fixed;
  width: 100%;
	height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color: white;
	opacity: 0.7;
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0));*/
} */

/* li {
	height: 100%;
	width: 12%;
	float: left;
}

li a {
	height: 100%;
	display: block;
	line-height: 100px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
	font-size: 3vh;
  text-align: center;
  text-decoration: none;
}

li a:hover {
	text-decoration: underline;
} */

canvas {
	position: absolute;
	left:0px;
  top:0px;
	z-index: -1;
}

#defaultCanvas1 {
	top: 100%;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
