body {
	margin:0;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 1;
	font-family: 'Source Sans Pro',sans-serif;
}

#defaultCanvas0 {
	left:0px;
  	top:0px;
	position: fixed;
	z-index: -2;
}

.inner {
	padding-top: 120px;
	padding-bottom: 120px;
}

.inner-top {
	padding-top: 120px;
}

.inner-bottom {
	padding-bottom: 120px;
}

#sketch-container {
	top:-150;
	z-index: 2;
	position: absolute;
}

#header-text{
	padding-top: calc(50vh - 100px);
}

.navbar {
	background-color: rgba(0,0,0,0.8);
}

h1{
	font-size: 72px;
	margin-bottom: 20px;
}

h2{
	font-size: 48px;
}

h3{
	font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato',sans-serif;
}
/* big white circle */
#page-header {
	height: 100vh;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 300px, rgba(0, 0, 0, 0) 300px);
}

#wip-page-header {
	height: 100vh;
}

footer {
	background-color: rgba(0,0,0,0.8);
}

.no-top-border {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bordered {
    border: 1px solid #e6e9ed;
    border-bottom-width: 2px;
    border-radius: 3px;
    padding: 25px;
    background: #f5f7fa;
}

.filter-button-group {
	margin-bottom: 40px;
}

.grid-item {
	margin-bottom: 30px;
}

.grid-item a img {
	width: 100%;
}

.grid-item a {
	text-decoration: none;
}

#mywork {
	background-color: rgba(255, 255, 255, 0.7);
}

#contact {
	background-color: rgba(255, 255, 255, 0.9);
	height: calc(100vh - 56px - 120px);
}

@media(max-width:600px) {
	.filter-button-group .btn {
		display: block;
		margin:auto;
	}

	.grid-item {
		width: 200px;
		margin-bottom: 10px;
		margin-left: 10px;
	}
}