body {
	margin:0;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 1;
	
}

#defaultCanvas0 {
	left:0px;
  top:0px;
	position: fixed;
	z-index: -2;
}

#defaultCanvas1 {
	left:0px;
	/* header height plus my work section height */
  top:calc(200vh - 56px);
	z-index: -1;
	position: absolute;
}

#header-text{
	padding-top: calc(50vh - 100px);
}

.navbar {
	background-color: rgba(0,0,0,0.8);
}

h1{
	font-size: 72px;
	margin-bottom: 20px;
}

h2{
	font-size: 36px;
}

#page-header {
	height: 100vh;
	/* padding: 381.5px 0 381.5px; */
	background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 300px, rgba(0, 0, 0, 0) 300px);
}

/* @media (min-width: 992px) {
  header {
    height: 100%;
  }
} */

footer {
	background-color: rgba(0,0,0,0.8);
}

section {
	padding: 150px 0;
	
}

.grid {
	width: 100%;
}

.filter {
	width: 100%;
}

.grid-item {
	width: 20%;
}

.grid-item a img {
	width: 100%;
}

#mywork {
	background-color: rgba(255, 255, 255, 0.6);
	height: calc(100vh - 56px);
}

#contact {
	height: calc(100vh - 56px - 120px);
}